/* styles.css */
:root {
    --primary-color: #8a2be2;
    --secondary-color: #00bfff;
    --text-color: #333;
    --card-bg: rgba(255, 255, 255, 0.1);
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #e1bee7);
    color: var(--text-color);
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.dashboard-container {
    display: flex;
    height: 800vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile {
    font-size: 14px;
    color: #666;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-card {
    background-color: var(--card-bg);
    border-radius: 25%;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.stat-value {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

.stat-label {
    font-size: 12px;
    color: var(--text-color);
}

.card {
    background-color: var(--card-bg);;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: calc(100vh - 300px);  /* Adjust this value as needed */
    min-height: 400px;  /* Set a minimum height */
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin-top: 0;
}

#main-chart {
    flex-grow: 1;  /* Allow the chart to grow and fill available space */
}

.sidebar {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

button {
    background: none;
    border: none;
    background-color: rgba(138, 43, 226, 0.2);
    color: var(--text-color);
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 2px var(--primary-color);
}

.dropdown {
    width: 200px;
}

.slider {
    width: 80%;
}

.control-container {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
